@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.body {
  width: 100vw;
  height: 100vh;
  background: #f3f5fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
