.collaborator__header {
  display: flex;
  justify-content: space-between;
}

.collaborators__title {
  margin-bottom: 41px;
}

.collaborators__close {
  cursor: pointer;
}

.noItem {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.collaboratorBox:last-child {
  border-bottom: none;
}
